@charset "utf-8";

@font-face {
	font-family: 'HangeulNuri';
	font-style: normal;
	font-weight: 400;
	src: url('../font/HangeulNuriR.woff2') format('woff2'), 
         url('../font/HangeulNuriR.woff') format('woff'),
         url('../font/HangeulNuriR.ttf') format('truetype');
}
 
@font-face {
	font-family: 'HangeulNuri';
	font-style: normal;
	font-weight: 600;
	src: url('../font/HangeulNuriB.woff2') format('woff2'), 
         url('../font/HangeulNuriB.woff') format('woff'),
         url('../font/HangeulNuriB.ttf') format('truetype');
}