@charset "utf-8";

@font-face {
	font-family: 'NIXGON';
	font-style: normal;
	font-weight: 300;
	src: url('../font/NIXGONFONTS-L-V2.woff2') format('woff2'), 
         url('../font/NIXGONFONTS-L-V2.woff') format('woff'),
         url('../font/NIXGONFONTS-L-V2.ttf') format('truetype');
}
 
@font-face {
	font-family: 'NIXGON';
	font-style: normal;
	font-weight: 400;
	src: url('../font/NIXGONFONTS-M-V2.woff2') format('woff2'), 
         url('../font/NIXGONFONTS-M-V2.woff') format('woff'),
         url('../font/NIXGONFONTS-M-V2.ttf') format('truetype');
}
 
@font-face {
	font-family: 'NIXGON';
	font-style: normal;
	font-weight: 600;
	src: url('../font/NIXGONFONTS-B-V2.woff2') format('woff2'), 
         url('../font/NIXGONFONTS-B-V2.woff') format('woff'),
         url('../font/NIXGONFONTS-B-V2.ttf') format('truetype');
}