@charset "utf-8";

@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 100;
	src: url('../font/SCDream1.woff2') format('woff2'), 
         url('../font/SCDream1.woff') format('woff'),
         url('../font/SCDream1.ttf') format('truetype');
}

@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 200;
	src: url('../font/SCDream2.woff2') format('woff2'), 
         url('../font/SCDream2.woff') format('woff'),
         url('../font/SCDream2.ttf') format('truetype');
}
 
@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 300;
	src: url('../font/SCDream3.woff2') format('woff2'), 
         url('../font/SCDream3.woff') format('woff'),
         url('../font/SCDream3.ttf') format('truetype');
}
 
@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 400;
	src: url('../font/SCDream4.woff2') format('woff2'), 
         url('../font/SCDream4.woff') format('woff'),
         url('../font/SCDream4.ttf') format('truetype');
}

@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 500;
	src: url('../font/SCDream5.woff2') format('woff2'), 
         url('../font/SCDream5.woff') format('woff'),
         url('../font/SCDream5.ttf') format('truetype');
}

@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 600;
	src: url('../font/SCDream6.woff2') format('woff2'), 
         url('../font/SCDream6.woff') format('woff'),
         url('../font/SCDream6.ttf') format('truetype');
}

@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 700;
	src: url('../font/SCDream7.woff2') format('woff2'), 
         url('../font/SCDream7.woff') format('woff'),
         url('../font/SCDream7.ttf') format('truetype');
}

@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 800;
	src: url('../font/SCDream8.woff2') format('woff2'), 
         url('../font/SCDream8.woff') format('woff'),
         url('../font/SCDream8.ttf') format('truetype');
}
 
@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 900;
	src: url('../font/SCDream9.woff2') format('woff2'), 
         url('../font/SCDream9.woff') format('woff'),
         url('../font/SCDream9.ttf') format('truetype');
}