@charset "utf-8";

@font-face {
	font-family: 'Gmarket Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('./font/GmarketSansTTFLight.woff2') format('woff2'), /* Super Modern Browsers */
    url('./font/GmarketSansTTFLight.woff') format('woff'); /* Modern Browsers */
}

@font-face {
	font-family: 'Gmarket Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium')
	url('./font/GmarketSansTTFMedium.woff2') format('woff2'), /* Super Modern Browsers */
	url('./font/GmarketSansTTFMedium.woff') format('woff'); /* Modern Browsers */     
}

@font-face {
	font-family: 'Gmarket Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('./font/GmarketSansTTFBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./font/GmarketSansTTFBold.woff') format('woff'); /* Modern Browsers */
}
